[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kubelet
After=crio.service network.target
Requires=crio.service

[Service]
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=/etc/kubernetes/kubelet.env
ExecStart=/usr/bin/kubelet $KUBELET_ADDRESS $KUBELET_HOSTNAME $KUBELET_KUBECONFIG $KUBELET_ARGS
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
